
.bottom-nav-bar{
    padding: 8px 5px 9px 5px;
    background-color: white;
    border-top: 1px solid rgb(240, 240, 240);
}

.bottom-nav-bar>div{
    padding: 0;
}

.bottom-nav-bar>div>img{
    cursor: pointer;
}
