@import "../variables.scss";

.bottom-nav-bar{
    padding: 0 10px 0 10px;
    background-color: white;
	box-shadow: 0 4px 10px rgb(180, 180, 180);
}

.bottom-nav-bar>div{
	cursor: pointer;
    padding: 0;
	margin: 0;
}

.bottom-nav-bar .icon{
	display: block;
	margin: 0 auto 0 auto;
}

.bottom-nav-bar .icon-label{
    font-size: 10px;
    text-align: center;
	font-weight: 400;
}

.bottom-nav-bar .active-icon{
	background: $primary;
	display: block;
	margin: 0 auto 0 auto;
}

.bottom-nav-bar .active-text{
	color: $primary;
	visibility: visible;
}

.icon-label{
	visibility: hidden;
}

.ripple-button {
	border-radius: 0px;
	border: none;
	padding: 8px 0 0 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	cursor: pointer;
	//position: relative;    //Avoid ripple overflow
  }
  
  .ripple-button > .ripple {
	width: 20px;
	height: 20px;
	position: absolute;
	background: $primary;
	display: block;
	content: "";
	border-radius: 50%;
	opacity: 0.5;
	animation: .3s ease 1 forwards ripple-effect;
  }
  
  @keyframes ripple-effect {
	0% {
	  transform: scale(1);
	  opacity: 0.5;
	}
	50% {
	  transform: scale(5);
	  opacity: 0.375;
	}
	100% {
	  transform: scale(25);
	  opacity: 0;
	}
  }
  
  .ripple-button > .content {
	position: relative;
	z-index: 2;
  }