@import '../variables.scss';

.confirm-modal .modal-body {
    border-radius: 12px 12px 0 0;
}

.confirm-modal .modal-footer {
    border-radius: 0 0 12px 12px;
}

.confirm-modal-backdrop{
    opacity: .9 !important;
    background-color: rgb(14, 14, 14);
}