/* load background  */
.property-form .other-img, .property-form .main-img{
    padding: 0;
    margin: 0;

    /* magic begins here */
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}
/* end load background  */

.property-form .other-img img, .property-form .main-img img {
    height: auto;
    width: 100%;
}
