
.upload-main-img{
    width: 100%;
    height: 300px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(250, 250, 250);
    text-align: right;
    cursor: pointer;
}

.upload-main-img:hover span{
    color: rgba(150, 150, 150);
}

.upload-main-img .camera{
    font-size: 8em;
    color: rgba(170, 170, 170);
}

.upload-main-img .plus{
    font-size: 30px;
    color: rgba(170, 170, 170);
}

.file-input{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-input-label{
    width: 100%;
}

.main-img-preview{
    border-radius: 5px;
}

.remove-main-img {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    right: -7px;
    top: 21px;
    z-index: 2;
    color: #eeeeee;
    background-color: rgb(95, 95, 95);
    border-radius: 50%;
    border: solid 2px white;
    padding: 3px 6px;
}


.crop-img{
    width: 100%;
}
