@import '../variables.scss';


.upload-main-img{
    width: 100%;
    height: 300px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgb(250, 250, 250);
    text-align: right;
    cursor: pointer;
}

.upload-main-img:hover span{
    color: rgb(150, 150, 150);
}

.upload-main-img .camera{
    font-size: 8em;
    color: rgb(170, 170, 170);
}

.upload-main-img .plus{
    font-size: 30px;
    color: rgb(170, 170, 170);
}

.file-input{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-input-label{
    width: 100%;
}

.main-img-preview{
    border-radius: 5px;
}

.remove-main-img {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    right: -7px;
    top: 21px;
    z-index: 2;
    color: #eeeeee;
    background-color: rgb(95, 95, 95);
    border-radius: 50%;
    border: solid 2px white;
    padding: 3px 6px;
}


// Style for all image croping components 
.crop-img{
    width: auto;
    max-height: calc(100vh - 180px);
    margin-bottom: 40px;
}

.crop-img img{
    width: auto;
    max-height: calc(100vh - 181px);
}

.crop-done-btn {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

.crop-done-btn>div {
    padding: 12px 0;
    cursor: pointer;
    transition: color .4s ease;
    font-weight: 500;
}

.crop-done-btn>div:hover {
    color: $primary;
}

.crop-done-btn .cancel-btn{
    background-color: rgb(250, 250, 250);
}

.crop-done-btn .next-btn {
    border-left: solid 1px #cfcfcf;
    background-color: rgb(230, 230, 230);
}
