@import "../variables.scss";

.login{
    border-radius: 15px;
    background-color: rgb(253, 253, 253);
}
.login-form input{
    height: 45px;
    font-size: 1em;
    padding: 0 0 0 3px;
}

.login-form input[type="text"], 
.login-form input[type="password"]{
    background-color: transparent;
    box-shadow: 0 0 0 white;
}

.login-form input:focus {
    box-shadow: 0 0 0 white;
    border: solid 0 transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px rgb(253, 253, 253) inset !important;
}

.login-form button[type="submit"]{
    height: 45px;
    border-radius: 5px;
    border-width: 0;
    padding: 0;
}

.login-modal .modal-close{
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer;
    z-index: 3;
    padding: 5px;
}

.login-modal .modal-close .icon-close{
    width: 20px;
    height: 20px;
    background: rgb(100, 100, 100);
}

/* validation */
.login-form input.error:invalid {
    border-color: $red;
    box-shadow: 0 0 0 white;
}
