
.login-form input{
    height: 45px;
}

.login-form input:focus {
    border-width: 1px;
    box-shadow: 0 0 0 white;
}

.login-modal .modal-close{
    position: absolute;
    right: 8px;
    top: 6px;
    cursor: pointer;
    z-index: 3;
    padding: 5px;
}

.login-modal .modal-close img{
    filter: brightness(0%);
}
