@import "../variables.scss";

.login{
    border-radius: 10px;
    background-color: rgb(253, 253, 253);
}
.login-form input{
    height: 45px;
    font-size: 1em;
    padding: 0 0 0 3px;
}

.login-form input[type="text"], 
.login-form input[type="password"]{
    background-color: transparent;
    box-shadow: 0 0 0 white;
}

.login-form input:focus {
    box-shadow: 0 0 0 white;
}

.login-form input[type="submit"]{
    border-radius: 5px;
    border-width: 0;
    padding: 0;
}

.login-modal .modal-close{
    position: absolute;
    right: 6px;
    top: 6px;
    cursor: pointer;
    z-index: 3;
    padding: 5px;
}

.login-modal .modal-close .icon-close{
    background: rgb(180, 180, 180);
}

/* validation */
.login-form input.error:invalid {
    border-color: $red;
    box-shadow: 0 0 0 white;
}
