.login{
    border-radius: 10px;
    background-color: rgb(253, 253, 253)
}
.login-form input{
    height: 45px;
    font-size: 1em;
    border-radius: 0;
    border: solid 0 #e2e2e2;
    border-bottom-width: 1px;
    padding: 0 0 0 3px;
}

.login-form input:focus {
    box-shadow: 0 0 0 white;
    border: solid 0 #17a2b8;
    border-bottom-width: 2px;
}

.login-form input[type="submit"]{
    border-radius: 5px;
    border-width: 0;
    padding: 0;
}

.login-modal .modal-close{
    position: absolute;
    right: 8px;
    top: 6px;
    cursor: pointer;
    z-index: 3;
    padding: 5px;
}

.login-modal .modal-close img{
    filter: brightness(0%);
}
