@import '../variables.scss';

.search {
    width: 100%;
    margin-bottom: 8px;
}

.search input {
    padding: 0.5rem;
    font-size: 1.1rem;
    width: 100%;
    border: solid 1px rgb(238, 238, 238);
    border-radius: 3px;
    background-color: rgb(250, 250, 250);
    outline: none;
}

.search input:focus {
    background-color: rgb(251, 251, 251);
}

.map-search-suggestions-box {
    margin-top: 3px;
    border-radius: 4px;
    overflow: hidden;
}

.map-search-suggestions-box li{
    padding: 10px 10px;
}

.locate {
    position: absolute;
    right: 10px;
    margin-top: 0px;
    background: none;
    border: none;
    z-index: 10;
}

.locate img {
    width: 30px;
    cursor: pointer;
}

.info-window {
    max-width: 200px;
    padding: 0;
}

.info-window .icon-house {
    width: 20px;
    height: 20px;
}

.gm-fullscreen-control {
    border-radius: 6px !important;
}

.gmnoprint>div {
    border-radius: 6px !important;
}

.gm-style-cc {
    bottom: 5px !important;
    display: none;
}