@import '../variables.scss';

.search {
    width: 100%;
    margin-bottom: 8px;
}

.search input {
    padding: 0.5rem;
    padding-right: 38px;
    font-size: 1.1rem;
    width: 100%;
    border: solid 1px rgb(238, 238, 238);
    border-radius: 3px;
    background-color: rgb(250, 250, 250);
    outline: none;
    -webkit-appearance: none !important;
}

.search input:focus {
    background-color: rgb(251, 251, 251);
}

.search .current-location {
    padding: 8px 7px 1px 7px;
    position: absolute;
    right: 17px;
    margin-top: -40px;
    z-index: 3;
    cursor: pointer;
    .icon {
        width: 24px;
        height: 24px;
        background-color: rgb(156, 156, 156);
        transition: background-color .3s ease;
    }
    .load-location {
        animation-name: load-by-spin;
        animation-duration: 1s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
    }
}

.search .current-location:hover .icon {
    background-color: $primary;
}

.map-search-suggestions-box {
    margin-top: 3px;
    border-radius: 4px;
    overflow: hidden;
}

.map-search-suggestions-box li{
    padding: 10px 10px;
}

#google-map>div{
    overflow: hidden;
    z-index: 1;
}

.locate {
    position: absolute;
    right: 10px;
    margin-top: 0px;
    background: none;
    border: none;
    z-index: 10;
}

.locate img {
    width: 30px;
    cursor: pointer;
}

.info-window {
    max-width: 200px;
    padding: 0;
}

.info-window .icon-house {
    width: 20px;
    height: 20px;
}

.gm-fullscreen-control {
    border-radius: 6px !important;
}

.gmnoprint>div {
    border-radius: 6px !important;
}

.gm-style-cc {
    bottom: 5px !important;
    display: none;
}

a[title="Open this area in Google Maps (opens a new window)"] img {
    -webkit-filter: grayscale(100%) !important; /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) !important;
}