
.upload-other-img:hover span{
    color: rgba(150, 150, 150);
}

.upload-other-img{
    cursor: pointer;
    overflow: hidden;
}

.upload-other-img .camera{
    font-size: 6em;
    color: rgba(170, 170, 170);
}

.upload-other-img .plus{
    font-size: 20px;
    color: rgba(170, 170, 170);
}

.other-img-preview{
    border-radius: 5px;
    overflow: hidden;
}

.remove-other-img{
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    right: -2px;
    top: -1px;
    z-index: 2;
    color: #eeeeee;
    background-color: rgb(95, 95, 95);
    border-radius: 50%;
    border: solid 2px white;
    padding: 2px 5px;
}
