
.profile-picture-container{
    //width: 300px;     // To override
    //height: 300px;    // To override
    display: inline-block;
    border: 2px solid #eeeeee;
    border-radius: 50%;
    overflow: hidden;
    text-align: right;
    cursor: pointer;
}

.profile-picture-container:hover span{
    color: rgb(150, 150, 150);
}

.profile-picture-container .icon-user{
    position: relative;
    //top: 60px;        // To override
    //width: 250px;     // To override
    //height: 250px;    // To override
    border-radius: 0;
    background: rgb(170, 170, 170);
}

.file-input{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-input-label{
    cursor: pointer;
}

.profile-picture-preview{
    width: auto;
    min-width: 100%;
    height: 100%;
}

.profile-picture-remove{
    padding-right: 35px;
}

.profile-picture-remove-icon {
    cursor: pointer;
    //font-size: 24px;      // To override
    position: absolute;
    bottom: -8px;
    color: #eeeeee;
    background-color: rgb(95, 95, 95);
    border-radius: 50%;
    border: solid 2px white;
    padding: 3px 6px;
}