.property-details {
    overflow: hidden;
    /* border-radius: 5px; */
    /* border: 1px solid #dddddd; */
    border-width: 0;
}

.main-prop-img, .other-prop-img {
    padding: 0;
    margin: 0;
}

.main-img, .small-img {
    height: auto;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
}

.modal-backdrop{
    opacity: 0.93 !important;
}

.img-modal .modal-close{
    position: absolute;
    right: 15px;
    top: 12px;
}

.img-modal .modal-close img{
    -webkit-filter: invert(100%);
}

.full-img{
    width: 100%;
    height: auto;
}

.img-modal .carousel-control-next{
    position: absolute;
    right: -80px;
}

.img-modal .carousel-control-prev{
    position: absolute;
    left: -80px;
}

.detailed-prop-info {
    height: auto;
    font-size: 15px;
}

.detailed-prop-info>div {
    margin: 3px 0 3px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.property-type span {
    padding: 0 3px 0 3px;
    font-size: 11px;
    font-weight: bold;
    margin-top: 5px;
    display: inline-block;
    border-radius: 5px;
}

.property-location, .property-price {
    font-weight: bold;
}

.property-location i {
    font-size: 15px;
    color: gray;
}

.actions{
    border-radius: 5px;
    background-color: rgba(245, 245, 245);
}

.edit-property{
    color: black;
}

.delete-property:hover{
    text-decoration: underline;
    color: rgb(250, 39, 39);
    cursor: pointer;
}

/* Beautiful Modal */
.modal-full {
    min-width: 100%;
    margin: 0;
    padding: 0;
    bottom: -1px;
    position: fixed;
}

.modal-full .modal-content {
    border-radius: 20px 20px 0 0;
    animation: scrollup .5s forwards;
    padding: 0;
    margin: 0;
}

@keyframes scrollup {
    from {
        height: 0;
    }
    to {
        height: 90vh;
    }
}
