@import "../variables.scss";

.reset-password {
    border: solid 1px rgb(240, 240, 240);
    border-radius: 10px;
    margin-top: 15vh;
    background-color: rgb(250, 250, 250);
}

.reset-password label {
    font-weight: 400;
    font-size: 1.1em;
}

.reset-password input{
    font-size: 1em;
    border-color: rgb(240, 240, 240);
    height: 45px;
    padding: 0 10px
}

.reset-password button {
    height: 45px;
}


.reset-password input:focus {
    border-width: 1px;
    box-shadow: 0 0 0 white;
    border-color: $primary;
}

.reset-password .toggle-view-password {
    position: absolute;
    right: 20px;
    top: 36px;
    height: 26px;
    width: 26px;
    cursor: pointer;
    z-index: 1;
}