@import '../variables.scss';

.group-header{
    font-size: 1.25em;
    font-weight: 400;
    color: rgb(80, 80, 80);
}

.show-all-btn{
    border-color: $primaryColor;
    border-radius: 5px;
    font-size: 17px !important;
}

.show-all-btn-md{
    font-weight: 500 !important;
    font-size: 17px !important;
}

.group-footer .btn-ripple {
	display: inline-block;
	position: relative;
	overflow: hidden;
	transition: all ease-in-out 0s;
}

.group-footer .btn-ripple::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 25%;
	height: 100%;
	width: 50%;
	background-color: #000;
	border-radius: 15px;
	opacity: 0;
	pointer-events: none;
	transition: all ease-in-out 0.5s;
	transform: scale(10, 10);
}

.group-footer .btn-ripple:active::after {
	padding: 0;
	margin: 0;
	opacity: .2;
	transition: 0s;
	transform: scale(0, 0);
}
