@import "../variables.scss";

.sidebar{
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar-lg{
    height: calc(100vh - 60px);
    top: 60px;
    border: 0 solid #dddddd;
    border-right-width: 1px;
}

.sidebar-sm{
    padding: 0 7px 0 7px;
}

.sidebar input,
.sidebar select{
    font-size: 1em;
    border-radius: 0;
    border: solid 0 #e2e2e2;
    border-bottom-width: 1px;
    padding: 0;
}

.sidebar button {
    font-size: 1.09em;
    color: #eeeeee;
}

.sidebar input:focus,
.sidebar select:focus,
.sidebar button:focus {
    box-shadow: 0 0 0 white;
    border: solid 0 $primaryColor;
    border-bottom-width: 2px;
}

.sidebar label{
    font-weight: bold;
}

/* validation */
.sidebar select.error:invalid,
.sidebar input.error:invalid {
    border-color: $red;
    box-shadow: 0 0 0 white;
}