@import "../variables.scss";

.signup{
    border-radius: 10px;
    background-color: rgb(253, 253, 253)
}

.progress-tab{
    width: 100%;
}


// Customize Profile picture component
.upload-profile-pic .profile-picture-container{
    width: 100px;
    height: 100px;
}

.upload-profile-pic .profile-picture-container .icon-user{
    top: 20px;
    width: 90px;
    height: 90px;
}

.upload-profile-pic .profile-picture-remove-icon{
    font-size: 15px;
}

.modal-on-modal{
    background-color: transparentize($color: #000000, $amount: 0.1)
}
// End customize profile picture component


.progress-tab>div{
    padding-top: 10px;
}

.signup-form input, .signup-form button{
    height: 45px;
    font-size: 1em;
    border-radius: 0;
    border: solid 0 #e2e2e2;
    border-bottom-width: 1px;
    padding: 0;
    padding: 0 0 0 3px;
}

.signup-form input[type="text"], 
.signup-form input[type="email"],
.signup-form input[type="password"]{
    background-color: transparent;
    box-shadow: 0 0 0 white;
}

.signup-form input:focus {
    box-shadow: 0 0 0 white;
    border: solid 0 #17a2b8;
    border-bottom-width: 2px;
}

.signup-form input[type="submit"], 
.signup-form input[type="button"],
.signup-form button[type="submit"]{
    border-radius: 5px;
    border-width: 0;
    padding: 0;
}

.signup-modal .modal-close{
    position: absolute;
    right: 6px;
    top: 6px;
    cursor: pointer;
    z-index: 3;
    padding: 5px;
}

.signup-modal .modal-close .icon-close{
    width: 20px;
    height: 20px;
    background: rgb(100, 100, 100);
}


/* validation */
.login-form input.error:invalid {
    border-color: $red;
    box-shadow: 0 0 0 white;
}