@import "../variables.scss";

#top-navbar {
    box-shadow: 0 -2px 10px rgb(190, 190, 190);
    font-size: 1.15em;
    overflow: visible;
}

.navbar-brand {
    overflow: visible;
    outline: none;
    height: 45px;

    // Center logo
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

.navbar-brand a {
    text-decoration: none;
    outline: none;
}

.navbar-brand a img{
    height: 25px;
    padding-left: 1px;
}

.navbar-brand a:active img{
    filter: opacity(.8);
}

.navbar-toggler {
    border-width: 0;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler .icon-menu {
    width: 30px;
    height: 30px;
    position: relative;
    top: 2px;
    background-color: rgb(88, 88, 88);
}

.navbar-profile-picture {
    border: 1px solid rgb(170, 170, 170);
    border-radius: 50%;
    width: 38px;
    height: 38px;
    overflow: hidden;
    background-color: rgb(240, 240, 240);
}

.navbar-profile-picture img {
    height: 100%;
    width: 100%;
}

.navbar-profile-picture .icon {
    width: 100%;
    height: 100%;
    position: relative;
    top: 5px;
    background-color: rgb(117, 117, 117);
}

.profile-dropdown.navbar-profile-picture{
    position: absolute;
    right:0px;
    top: 0px;
}

.back-button{
    display: none;
}

.search-input {
    height: 35px;
    border-radius: 7px;
    padding-left: 38px;
    padding-right: 5px;
    text-align: center;
    background-color: rgb(240, 240, 240);
    border-color: transparent;
    border-width: 1px;
    font-size: 16px;
    color: rgb(180, 180, 180);
    transition: background-color 0.01s linear, box-shadow 0.1s linear, border-width 0.1s linear, border-color 0.1s linear;
}

.search-input::-webkit-search-cancel-button{
    position:relative;
    left: 5px;
    top: 0; 
    -webkit-appearance: none;
    border-radius:11px;

    display: inline-block;
    width: 22px;
    height: 22px;
    background: rgb(107, 107, 107);
    mask-size: cover;
    mask: url(../icons/plus.svg);
    transform: rotate(45deg);
}

.search-button {
    position: absolute;
    left: 3px;
    top: 3px;
    padding: 3px;
    padding-left: 6px;

    cursor: pointer;
    .icon {
        width: 21px;
        height: 21px;
        background: rgb(126, 126, 126);
    }
}

.search-suggestions-box {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 3px;
    z-index: 555555;
    border-radius: 7px;
    overflow: hidden;
}

.search-suggestions-box li{
    padding: 10px 10px;
    font-size: 15px;
}

@include media-breakpoint-up(lg) {
    .search-input {
        height: 41px;
    }
    
    .navbar-brand {
        height: 49px;
    }

    .navbar-brand a img{
        height: 27px;
        padding-left: 0;
    }
    .search-button {
        left: 6px;
        top: 6px;
    }
}

.search-input:focus {
    box-shadow: 0 0 0 0 white;
    border-width: 1px;
    border-color: transparent;
    color: rgb(70, 70, 70);
    background-color: rgb(230, 230, 230);
    text-align: left;
}

@include media-breakpoint-down(sm) {
    // Make Search box full width
    .search-form:focus-within {
        .search-input {
            position: fixed;
            left: 0;
            top: 0;
            height: 52px;
            border-radius: 0;
            width: 100vw;
            background-color: white;
            z-index: 3;
            outline: none;
            padding-left: 40px;
            padding-right: 15px;
        }

        .back-button{
            display: block;
            position: fixed;
            left: 15px;
            top: 12px;
            cursor: pointer;
            transform: rotate(-90deg);
            z-index: 4;
            outline: none;
            .icon {
                width: 22px;
                height: 22px;
                background: rgb(100, 100, 100);
            }
        }

        .search-input::-webkit-search-cancel-button{
            display: block;
        }

        .search-button{
            display: none;
        }
    }

    .search-input {
        padding-left: 35px;
    }

    .search-input::-webkit-search-cancel-button{
        display: none;
    }

    .search-suggestions-box {
        position: fixed !important;
        top: 52px !important;
        border-color: #dddddd !important;
    }

    .search-suggestions-box {
        border-left-width: 0 !important;
        border-right-width: 0 !important;
        border-radius: 0;
        margin-top: 0;
    }
}

.search-form a {
    width: 50px;
    overflow: hidden;
    position: absolute;
}

.search-form button:focus {
    box-shadow: 0 0 0 0 white;
}

.search-form a:hover .search-button {
    color: rgb(76, 76, 76);
}


@keyframes slide-in-nav-menu {
    0% {
        right: 100%;
    }

    100% {
        right: 0;
    }
}


@keyframes fade-in-overlay {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .3;
    }
}

.collapsible-menu{
    animation-name: slide-in-nav-menu;
    animation-duration: .1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    width: calc(100% + 30px);
    position: fixed;
    top: 53px;
    background-color: transparent;
    -webkit-transition: none;
    transition: none;
    right: 100%;

    .nav-menu{
        height: 100vh;
        background-color: white;
        display: flex;
        justify-content: flex-start;
        box-shadow: inset 20px -2px 10px rgb(189, 189, 189);
        overflow-y: auto;
        .icon {
            height: 24px;
            width: 24px;
            position: relative;
            top: 4px;
            margin-right: 11px !important;
            background-color: #585858;
        }
    }
    
    .overlay{
        height: 100vh;
        background-color: black;
        opacity: 0;
        border-radius: 0;
        cursor: auto;
        
        animation-name: fade-in-overlay;
        animation-delay: .15s;
        animation-duration: .1s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
    
    .nav-menu a {
        margin-left: 40px;
    }
}

@include media-breakpoint-up(lg) {
    .collapsible-menu{
        position: initial;
        background-color: transparent;
        -webkit-transition: none;

        .nav-menu{
            height: auto;
            background-color: inherit;
            border: none;
            display: flex;
            justify-content: flex-end;
            box-shadow: none;
            overflow: visible;
        }
        
        .nav-menu a {
            margin: unset;
        }
    }
}


.nav-dropdown-menu{
    overflow: hidden;
    padding: 2px 0 2px 0;
}

.nav-dropdown-item{
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-dropdown-item:focus{
    background-color: unset;
    color: $primary;
}

.nav-dropdown-menu .active{
    background-color: unset;
    color: $primary;
}

.create-property-link{
    text-decoration: none;
    color: rgb(80, 80, 80);
}

.create-property-link:hover{
    text-decoration: none;
    color: rgb(20, 20, 20);
}