#top-navbar {
    border: 0 solid rgb(230, 230, 230);
    border-width: 0 0 1px 0;
}

.navbar-toggler {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgb(230, 230, 230);
    border-color: white;
    border-width: 0
}

.navbar-toggler:focus {
    outline: none;
}

#navbarTogglerDemo03 {
    margin-top: 8px;
    padding-left: 0;
    margin-right: 15px;
}

#navbarTogglerDemo03 a{
    font-size: 1.1em;
}

#navbarTogglerDemo03 hr {
    border-color: #eeeeee; /* didn't use #eeeeee purposefuly */
}

#navbarTogglerDemo03 li {
    white-space: nowrap;
}

.navbar-brand {
    overflow: visible;
    height: 48px;

}

.navbar-brand a {
    font-family: 'Grand Hotel';
    font-size: 32px;
    overflow: hidden;
    color: rgb(76, 76, 76); /* nav-brand color light black */
    text-decoration: none;
    margin-bottom: 3px;
    outline: none;
}

.click-effect:active {
    color: gray;
}

.search-input {
    border-color: #dddddd;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
    background-color: rgb(230, 230, 230);
    border-color: white;
    border-width: 0;
}

.search-input:focus{
    box-shadow: 0 0 0 0 white;
    border-color: #dddddd;
    border-width: 1px;
}

.search-button {
    border-radius: 0 4px 4px 0;
    border-width: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
    right: 50px;
    color: gray;
    font-size: 20px;
}

.search-button:focus {
    border-width: 0;
    box-shadow: 0 0 0 0 white;
}

.dropdown-menu{
    overflow: hidden;
}
