@import "../variables.scss";

#top-navbar {
    border: 0;
    box-shadow: 0 -7px 10px black;
    font-size: 1.15em;
}

.navbar-brand {
    overflow: visible;
    height: 48px;
    outline: none;
}

.navbar-brand a {
    font-family: 'Grand Hotel';
    font-size: 33px;
    overflow: hidden;
    color: rgb(80, 80, 80);
    text-decoration: none;
    outline: none;
}

.click-effect:active {
    color: gray;
}

.navbar-toggler {
    border-width: 0;
    padding: 7px;
}

.navbar-toggler:focus {
    outline: none;
}

.menu-icon {
    width: 45px;
    height: 45px;
}

.search-input {
    color: rgb(190, 190, 190);
    height: 40px;
    border-radius: 8px;
    padding-left: 37px;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border-color: white;
    border-width: 1px;
    transition: background-color 0.1s linear, box-shadow 0.1s linear, border-width 0.1s linear, border-color 0.1s linear;
}

@media only screen and (min-width: 992px) {
    /* A little twerk */
    .search-input {
        height: 42px;
        border-radius: 7px;
    }
}

.search-input:focus {
    box-shadow: 0 0 0 0 white;
    border-width: 1px;
    border-color: white;
    background-color: rgb(250, 250, 250);
    text-align: left;
}

.search-button {
    position: relative;
    right: 4px;
    top: 3px;
    width: 21px;
    height: 21px;
    background: rgb(120, 110, 120);
}

.search-form a {
    width: 50px;
    overflow: hidden;
    position: absolute;
}

.search-form button:focus {
    box-shadow: 0 0 0 0 white;
}

.search-form a:hover .search-button {
    color: rgb(76, 76, 76);
}

.nav-dropdown-menu{
    overflow: hidden;
    padding: 2px 0 2px 0;
}

.nav-dropdown-item{
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-dropdown-item:focus{
    background-color: unset;
    color: $primaryColor;
}

.nav-dropdown-menu .active{
    background-color: unset;
    color: $primaryColor;
}
