.custom-container{
    overflow: hidden;
}

.property-form input,
.property-form select {
    font-size: 1em;
    border-color: rgb(238, 238, 238);
    height: 40px;
    padding: 0 5px 0 5px;
}

.property-form input:focus,
.property-form select:focus {
    border-width: 1px;
    box-shadow: 0 0 0 white;
}

.property-form label{
    font-weight: bold;
}

.property-form button{
    height: 45px;
}

.upload-main-img{
    width: 100%;
    height: 300px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(252, 252, 252);
    text-align: right;
    cursor: pointer;
}

.upload-main-img:hover span,
.upload-other-img:hover span{
    color: rgba(150, 150, 150);
}

.upload-other-img{
    cursor: pointer;
    overflow: hidden;
    margin: 2px 0 2px 5px;
}

.upload-main-img .camera{
    font-size: 8em;
    color: rgba(170, 170, 170);
}

.upload-other-img .camera{
    font-size: 6em;
    color: rgba(170, 170, 170);
}

.upload-main-img .plus{
    font-size: 30px;
    color: rgba(170, 170, 170);
}

.upload-other-img .plus{
    font-size: 20px;
    color: rgba(170, 170, 170);
}

.file-input{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-input-label{
    width: 100%;
}

.other-file-input-label{

}

.main-img-preview{
    border-radius: 5px;
}

.other-img-preview{
    border-radius: 5px;
    overflow: hidden;
    margin: 2px;
}

.remove-img{
    position: absolute;
}

.remove-img i{
    cursor: pointer;
    font-size: 30px;
    position: relative;
    left: 5px;
    top: 5px;
    color: rgba(50, 50, 50);
}

.remove-other-img{
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    margin: 3px;
    color: rgba(50, 50, 50);
}
