.custom-container{
    overflow: hidden;
}

.property-form input,
.property-form select {
    font-size: 1em;
    border-color: rgb(238, 238, 238);
    height: 40px;
    padding: 0 5px 0 5px;
}

.property-form input:focus,
.property-form select:focus {
    border-width: 1px;
    box-shadow: 0 0 0 white;
}

.property-form label{
    font-weight: bold;
}

.property-form button{
    height: 45px;
}

.upload-main-img{
    width: 100%;
    height: 300px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    overflow: hidden;
    background-color: #eeeeee;
    text-align: right;
    cursor: pointer;
}

.upload-main-img:hover span,
.upload-other-img:hover span{
    color: rgba(150, 150, 150);
}

.upload-other-img{
    width: 100%;
    height: 200px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    overflow: hidden;
    background-color: #eeeeee;
    text-align: right;
    cursor: pointer;
}

.upload-main-img .camera{
    font-size: 8em;
    color: rgba(170, 170, 170);
}

.upload-other-img .camera{
    font-size: 5em;
    color: rgba(170, 170, 170);
}

.upload-main-img .plus{
    font-size: 30px;
    color: rgba(170, 170, 170);
}

.upload-other-img .plus{
    font-size: 20px;
    color: rgba(170, 170, 170);
}
