.property-form input,
.property-form select {
    font-size: 1em;
    border-color: rgb(238, 238, 238);
    height: 40px;
    padding: 0 5px 0 5px;
    background-color: rgb(250, 250, 250);
}

.property-form input:focus,
.property-form select:focus {
    border-width: 1px;
    box-shadow: 0 0 0 white;
}

.property-form label{
    font-weight: bold;
}

.property-form button{
    height: 45px;
}
